.Lockit {
    width: 400px;
    height: 400px;
}

.Lock {
    background-color: darkslategray;
    width: 400px;
    height: 400px;
    
}

@media (max-width:500px){
    .Lockit {
        width: 300px;
        height: 300px;
    }
    .Lock {
        height: 300px;
    }
}