.base {
    width: 15.5rem;
    background-color: darkslategray;
    padding: 1rem;
}
.plate {
    background-color: gray;
    border-radius: 0.5rem;
    border-right: 0.5rem solid lightgray;
    border-bottom: 0.5rem solid lightgray;
}

.plate button {
    font-size: 2rem;
    margin: 1rem;
    width: 3rem;
    background-color: lightgray;
}

.zero  button{
    margin-left: 6rem;
    margin-right: auto;

}
